/* -------------------------------CSS start--------------------------------- */


/* @media only screen and (min-width: 769px) { */
  body {
    margin: 0;
  }
  

  .start {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
  }

  .start p {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
    width: 50%;
    text-align: center;
    font-size: 130px;
    font-weight: 900;
    color: red;
  }
  section {
    box-sizing: content-box;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 16px;
  }

  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    /* background-color: transparent; */
    background-color: white;
    transition: background-color .3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 56px;
    font-size: 25px;
  }
  
  #mainNav .container {
    max-width: 1140px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: black;
    font-weight: 700;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 27px;
    line-height: inherit;
    white-space: nowrap;

  }

  section {
    padding-top: 10px;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  
  div .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  div .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    -ms-flex-direction: column;
    padding-left: 0;
    list-style: none;
  }

  .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: black;
  }

  .main {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: url("../images/sample1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .main::before {
    transform: skewX(-13deg) translateY(-.05em);
    padding: 0 20px;
    content: '究極の一杯がここに...';
    z-index: 100;
    display: block;
    width: 470px;
    height: 71px;
    position: absolute;
    z-index: 3;
    top: -567px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 45px;
    color: white;
    background: red;
    opacity: 0.8;
    white-space: nowrap;
  }

  .main::after {
    transform: skewX(-13deg) translateY(-.05em);
    padding: 0 20px;
    content: '悠心';
    z-index: 100;
    display: block;
    width: 250px;
    height: 185px;
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 135px;
    color: white;
    background: red;
    opacity: 0.8;
    white-space: nowrap;
  }


  .about {
    background-color: white;
    height: 110%;
    margin-bottom: 50px;
  }

  .about-first {
    padding: 23px 0;
    text-align: center;
  }

  .about-img {
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    border-radius: 50%;
    width:  300px;
    height: 300px;
  }

  .about-coment {
    text-align: center;
    font-size: 25px;
  }

  h2 {
    font-size: 50px;
    font-style: italic;
    font-weight:800;
    margin-top: 5px;
    margin-bottom: 0;
    position: relative;
    z-index: 3;
    display: inline-block;
    padding-left: 20px;
  }

  h2::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 7%;
    width: 120%;
    height: 10px;
    background: linear-gradient(to right, #ffa500, rgba(255, 255, 255, 0));
    z-index: -1;
  }

  .menu-container {
    margin: 0 auto 2rem;
    padding: 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }

  .menu-item {
    margin: 0 12px 3rem;
    width: calc( (100% - 72px) / 3);
    display: block;
    padding: 0;
    position: relative;
  }

  .menu-item-image {
    margin: 0 auto .25rem;
  }

  .menu-item-image > img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .menu-item-name {
    font-weight: bold;
    margin: 0 0 .25rem;
    padding: 0;
    color: #350000;
    line-height: 1.25;

    margin: 0 0 1.375rem;
    font-size: 28px;
  }

  .menu-item-detail {
    height: 45px;
    font-size: 18px;
    margin: -.25rem 0 .25rem;
    padding: 0;
    line-height: 1.25;
  }

  .menu-item-price {
    border-collapse: collapse;
    line-height: 1.25;
    margin: 0 auto;
    font-size: 16px;
  }

  .popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }

  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }

  .popup-inner {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
  }
  .popup-inner img {
    width: 100%;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .close-btn i {
    font-size: 20px;
    color: #333;
  }
  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  }

  table{
    width: 100%;
    border-collapse: collapse;
  }
  
  table tr{
    border-bottom: solid 2px white;
  }
  
  table tr:last-child{
    border-bottom: none;
  }
  
  table th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  table td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
  }

  .slider div img{
    width: 1000px;
    height: 700px;
    text-align: center;

  }

  .custom-thumb{
    text-align: center;
  }

  #feed-next-btn{
    float:left;
    margin-left: 1000px;
  }
/* -------------------------------CSS: end--------------------------------- */
